main {
    .resultados {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        #muestraresultado {
            margin-top: 50px;
            background-color: #82a576;
            border-radius: 15px;
            padding: 1rem;

            .titleMejoresOpciones {}

            .tarjetasResultado {

                .listaMejoresOpciones {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    min-height: 200px;

                    li {

                        width: 300px;
                        padding: 5px;


                        span {
                            font-weight: 600;
                        }
                    }

                    li:nth-child(1) {
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                    }

                    li:nth-child(odd) {
                        background-color: #92a58c;
                    }

                    li:nth-child(even) {
                        background-color: #688160;
                    }

                    li:nth-last-child(1) {
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                }
            }
        }

        .faltaDeDatos {
            border-radius: 15px;
            background-color: #9da58c;
            padding: 1rem;

            .titleFaltaDeDatos {}

            .DatosDescartados {
                min-height: 200px;

                .ListaDeDescartados {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    li {
                        width: 300px;
                        padding: 5px;

                        span {
                            font-weight: 600;
                        }
                    }

                    li:nth-child(1) {
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                    }

                    li:nth-child(odd) {
                        background-color: #e4d4d4;
                    }

                    li:nth-child(even) {
                        background-color: #d1bbbb;
                    }

                    li:nth-last-child(1) {
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                }
            }
        }
    }
}

.titulo {
    width: 350px;
    background-color: #161616;
    color: #ffffff;
    padding: 5px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 500;
    }
}