$color-1:#143109;
$color-2:#294f18;
$color-3:#2e5c18;
$color-4:#367417;
$color-5:#459818;
$color-6:#5cbf23;
$color-7:#7cd942;
$color-8:#9ee86e;
$color-9:#c4f2a4;
$color-10:#e1f9ce;
$color-11:#f1fce9;

